$color_accent: #66d4f4;
$color_secondary: #42a8f6;
$color_text: #7c7c7c;
$color_text_dark: #494949;
$color_text_gray: #b3b4b4;
$color_light: #fff;
$color_bg_dgey: #fafbfb;
$color_btn: #479ee1;
$trasition_time: 0.3s;